* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 1px solid red;
}

:root {
  /*    typography*/

  --headign-XL: font-family: 'Inter', sans-serif; font-size: 64px; line-height: 110%;
  --heading-L: font-family: 'Inter', sans-serif; font-size: 48px; line-height: 110%;
  --heading-M: font-family: 'Inter', sans-serif; font-size: 24px; line-height: 110%;
  --heading-S: font-family: 'Inter', sans-serif; font-size: 20px; line-height: 100%;

  /* colors */

  --blue: hsl(227, 92%, 58%);
  --gunmetal: hsl(215, 31%, 21%);
  --dark-electric-blue: hsl(215, 17%, 45%);
  --light-grey: hsl(200, 24%, 88%);
  --white: hsl(0, 0%, 100%);
}

/* body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(240, 67%, 8%);
  background-image: url("../public/assets/background-stars.svg");
  cursor: pointer;
} */
