* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

:root {
  /*    typography*/

  /* --headign-XL: font-family: 'Inter', sans-serif; font-size: 64px; line-height: 110%; font-weight: 600;
  --heading-L: font-family: 'Inter', sans-serif; font-size: 48px; line-height: 110%; font-weight: 600;
  --heading-M: font-family: 'Inter', sans-serif; font-size: 24px; line-height: 110%; font-weight: 600;
  --heading-S: font-family: 'Inter', sans-serif; font-size: 20px; line-height: 100%; font-weight: 600; */

  /* --body-M: font-family: 'Inter', sans-serif; font-size: 16px; line-height: 150%; font-weight: 400;
  --body-M-bold: font-family: 'Inter', sans-serif; font-size: 16px; line-height: 150%; font-weight: 600;
  --body-S: font-family: 'Inter', sans-serif; font-size: 14px; line-height: 150%; font-weight: 400; */

  /* colors */

  --blue: hsl(227, 92%, 58%);
  --gunmetal: hsl(215, 31%, 21%);
  --dark-electric-blue: hsl(215, 17%, 45%);
  --light-grey: hsl(200, 24%, 88%);
  --white: hsl(0, 0%, 100%);
}

/* body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(240, 67%, 8%);
  background-image: url("../public/assets/background-stars.svg");
  cursor: pointer;
} */

@media only screen and (min-width: 375px) {
  .heading__main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 640px;
    background-color: var(--light-grey);
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
  }

  .heading__svg {
    width: 40px;
    height: 40px;
  }

  .heading__title {
    font-family: "Inter", sans-serif;
    font-size: 64px;
    font-weight: 600;
    line-height: 110%;
    letter-spacing: -5px;
    text-align: center;
    color: var(--gunmetal);
  }

  .heading__text {
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    color: var(--electric-blue);
  }

  img {
    width: 375px;
    height: 354px;
  }
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 1440px) {
}
