@media only screen and (min-width: 768px) {
  .heading__main {
    padding: 41px;
  }

  .heading__svg {
    margin-bottom: 40px;
  }

  .calculator {
    align-items: flex-start;
    width: 686px;
    padding: 32px;
    top: -245px;
  }

  .calculator__title {
    margin-bottom: 32px;
  }

  .checkbox--label {
    padding: 3.5px 187px 3.5px 18px;
  }

  .input__measurement--metric {
    display: flex;
    flex-direction: row;
  }

  .metric-input-unit {
    flex-direction: column;
    display: flex;
    align-items: flex-start;
  }

  .input__measurement--imperial {
    display: none;
    flex-direction: column;
  }

  .imperial-input-unit {
    flex-direction: column;
    display: flex;
    align-items: flex-start;
  }

  .imperial-inputs {
    display: flex;
  }

  .input--imperial--height--ft,
  .input--imperial--height--in,
  .input--imperial--weight--st,
  .input--imperial--weight--lbs,
  .input--metric--height,
  .input--metric--weight {
    width: 299px;
    height: 69px;
    margin: 0 24px 24px 0;
  }

  .calculator__results {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 622px;
    padding: 32px;
    border-radius: 16px 999px 999px 16px;
  }

  .heading__sub1 {
    flex-direction: row;
    align-items: center;
  }

  .sub1--img {
    width: 435px;
    height: 411px;
    margin-right: 75px;
    margin-left: -75px;
    margin-bottom: 0;
    overflow: hidden;
  }

  .sub1--BMIresult {
    justify-content: center;
  }

  .section__BMI-influencers {
    margin-bottom: 96px;
  }

  .influencers {
    flex-direction: row;
    align-items: center;
  }

  .influencers--svg {
    margin-bottom: 0;
    margin-right: 40px;
  }

  .section__BMI-limitations {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .limitations-gender,
  .limitations-age,
  .limitations-muscle,
  .limitations-pregnancy,
  .limitations-race {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 32px;
    width: 335.5px;
    height: 256px;
  }
}
